extends layout

block top
  h1= title
  p Welcome to #{title}

block content
  <div class="row">
    <div class="col-md-6"><a href="/registration#{ user ? '' : '/login'}"><h3>Voter Registration</h3></a></div>
    <div class="col-md-6"><a href="/petition#{ user ? '' : '/login'}"><h3>Petitions</h3></a></div>
  </div>
